- extends 'header.haml'

- block content

    / branches panel
    .panel.panel-default{ :style => "padding: 10px; margin-top: -10px; margin-bottom:10px;" }
        %table
            %tr
                %td{ :style => "width: 180px;" }
                    %button.btn.btn-success.btn-sm#reload-current-branch{ :type => "button", :style => "" }
                        Reload diff
                %td
                    %span{ :style => "color: silver;"}
                        Click branch to checkout:
                    - for aBranch in aBranches
                        %span.resolved-branch.branch{:id => "branch_#{aBranch['name']}"}<>
                            = aBranch['name']

    / commits panel
    .panel.panel-default
        .panel-body{ :style => "height: 180px; overflow-y: scroll;" }
            %table.commits#commits

    %table{ :style => "width: 100%" }
        %tr
            %td{ :style => "width: 100%" }
                / messages panel
                .panel.panel-default{ :style => "margin-right: 10px;" }
                    .panel-body#messages-panel{ :style => "height: 180px; overflow-y: scroll;" }
                        -for sInitialMessage in aInitialMessages
                            %span.message<>
                                = sInitialMessage
                            %br<>
                        %span#messages-panel-anchor

            %td{ :style => "width: 180px;" }
                .panel.panel-default
                    .panel-body{ :style => "height: 180px; text-align: center;" }
                        / control panel
                        %button.btn.btn-success.btn-lg#apply{ :type => "button", :style => "font-weight: bold;" }
                            Apply
                        %br
                        %br

                        -if bReloadAndApply
                            %button.btn.btn-success#reload-and-apply{ :type => "button", :style => "font-weight: bold;" }
                                Reload & apply
                                - if bReloadAndApplyIgnoreManual
                                    %div{ :style => "font-size: 0.5em; margin-top: -5px;" }
                                        ignore manual
                            %br
                            %br

                        %button.btn.btn-warning.btn-sm#imitate{ :type => "button", :style => "" }
                            Imitate

    / tips
    .panel.panel-default
        .panel-body
            .hint
                %span.label.label-success<>
                    New object
                &nbsp;&mdash;&nbsp;object does not exist in the database&nbsp;

            .hint
                %span.label.label-danger<>
                    There are references
                &nbsp;&mdash;&nbsp;table references to another&nbsp;
                %u<>
                    non existing
                &nbsp;tables&nbsp;

            .hint
                %span.label.label-danger<>
                    There are dependencies
                &nbsp;&mdash;&nbsp;type has dependent functions&nbsp;

            .hint
                %span.label.label-warning<>
                    Manual deployment required
                &nbsp;&mdash;&nbsp;you should deploy object manually&nbsp;

            .hint
                %span.label.label-info<>
                    Can be forwarded #N
                &nbsp;&mdash;&nbsp;object can be deployed in automatic mode&nbsp;

    / div to show diff between git and database
    #diff

    / template for commits
    %script{ :id => "commits-template", :type => "text/template" }
        {{#commits}}
        %tr
            %td.pointer{ :style => "font-family: Courier; width: 20%", :onclick => "Git.checkout('{{commit_hash}}', true)" }
                %span.commit{ :class => "commit-{{commit_active}}", :id => "commit-{{commit_hash}}" }
                    {{commit_hash}}
            %td{ :style => "width: 10px;" }
                %span{ :style => "color: silver;" }
                    &mdash;
            %td
                %span{ :style => "width: 80%", :onclick => "Git.checkout('{{commit_hash}}', true)" }
                    {{commit_message}}
                {{#resolved_branches}}
                %span.resolved-branch.pointer{ :onclick => "Git.checkout('{{branch_name}}', true);" }<>
                    {{branch_name}}
                {{/resolved_branches}}
            %td{ :style => "width: 20%" }
                {{commit_author}}
        {{/commits}}
    / end of template

    / template for diff
    %script{ :id => "diff-template", :type => "text/template" }
        {{#schemas}}
        .panel.panel-default
            .panel-heading.pointer{ :onclick => "Git.toggleSchemaObjectTable('{{schema_name}}', '{{object_index}}');" }
                %span.label.label-primary<>
                    {{schema_name}}
                &nbsp;
                %span.label.label-primary<>
                    {{object_index}}
                &nbsp;
                %span.badge{ :style => "background-color: silver;" }
                    {{objects_count}}
                %div{ :style => "float: right; z-index: 1;" }
                    Toggle all
                    %span.semi-link{ :onclick => "event.stopPropagation();Git.toggleSchema('{{schema_name}}');" }
                        in schema
                    or
                    %span.semi-link{ :onclick => "event.stopPropagation();Git.toggleSchemaObject('{{schema_name}}', '{{object_index}}');" }
                        in schema and object type
                %div{ :style => "float: right; margin-right: 50px; color: silver;" }
                    Click header to hide table
            %table.table.table-diff{ :id => "row_{{schema_name}}_{{object_index}}"}
                {{#objects}}
                %tr
                    %td.item.item-name
                        %b
                            {{object_name}}

                        {{#insertions}}
                        %ins
                            +{{insertions}}
                        {{/insertions}}
                        {{#deletions}}
                        %del
                            &minus;{{deletions}}
                        {{/deletions}}

                    %td.item.item-view-dependencies
                        {{#new_object}}
                        %span.label.label-success<>
                            New object
                        {{/new_object}}

                        {{#signature_changed}}
                        %span.label.label-danger<>
                            Signature changed
                        {{/signature_changed}}

                        {{#return_type_changed}}
                        %span.label.label-danger<>
                            Return type changed
                        {{/return_type_changed}}

                        {{#grants_changed}}
                        %span.label.label-danger<>
                            Grants changed
                        {{/grants_changed}}

                        {{#dependencies_exist}}
                        %span.label.label-danger<>
                            There are dependencies
                        {{/dependencies_exist}}

                        {{#references_exist}}
                        %span.label.label-danger<>
                            There are references
                        {{/references_exist}}

                        {{#manual_deployment_required}}
                        %span.label.label-warning<>
                            Manual deployment required
                        {{/manual_deployment_required}}

                        {{#can_be_forwarded}}
                        %span.label.label-info<>
                            Can be forwarded #
                            {{forward_order}}
                        {{/can_be_forwarded}}

                        {{#not_in_git}}
                        %span.label.label-danger<>
                            %b
                                NOT IN GIT
                        {{/not_in_git}}
                    %td.item.item-view-diff
                        {{^not_in_git}}
                        %a{ :href => "/{{database_name}}/{{schema_name}}/{{object_index}}/{{object_name}}/view_diff/", |
                            :target => "_blank", :style => "text-decoration: none; margin-right: 20px;" }<>
                            %span.solid-link<>
                                {{#new_object}}
                                View
                                {{/new_object}}
                                {{^new_object}}
                                View diff
                                {{/new_object}}
                        {{/not_in_git}}

                        {{#define}}
                        %a{ :href => "/{{database_name}}/{{schema_name}}/{{object_index}}/{{object_name}}/define/", |
                            :target => "_blank", :style => "text-decoration: none; margin-right: 20px;" }<>
                            %span.solid-link<>
                                Define
                        {{/define}}

                        {{#describe}}
                        %a{ :href => "/{{database_name}}/{{schema_name}}/{{object_index}}/{{object_name}}/describe/", |
                            :target => "_blank", :style => "text-decoration: none; margin-right: 20px;" }<>
                            %span.solid-link<>
                                Describe
                        {{/describe}}

                        {{#drop}}
                        %a{ :onclick => "Git.drop('{{schema_name}}', '{{object_index}}', '{{object_name}}'); return false;", |
                            :style => "text-decoration: none; margin-right: 20px;" }<>
                            %span.solid-link<>
                                Drop
                        {{/drop}}
                    %td.item.item-view-apply{ :style => "vertical-align: middle;"}
                        {{^not_in_git}}
                        %table
                            %tr
                                %td.td-checkbox
                                    %input{ :class => "apply apply-main s-{{schema_name}} o-{{object_index}}", |
                                        :type => "checkbox", :checked => null, |
                                        :name => "{{schema_name}}/{{object_index}}/{{object_name}}", |
                                        :id => "apply_{{schema_name}}_{{object_index}}_{{object_name}}", |
                                        :manual => "{{manual_deployment_required}}", |
                                        :value => "1" }
                                %td.td-checkbox
                                    %span
                                        %label.label-for-checkbox{ :for => "apply_{{schema_name}}_{{object_index}}_{{object_name}}" }
                                            Apply

                                {{#can_be_forwarded}}
                                %td.td-checkbox
                                    %input{ :class => "apply forward s-{{schema_name}} o-{{object_index}}", :type => "checkbox", |
                                        :checked => null, :name => "{{schema_name}}/{{object_index}}/{{object_name}}/forward_order", |
                                        :id => "forward_{{schema_name}}_{{object_index}}_{{object_name}}", |
                                        :value => "{{forward_order}}" }
                                %td.td-checkbox
                                    %span
                                        %label.label-for-checkbox{ :for => "forward_{{schema_name}}_{{object_index}}_{{object_name}}" }
                                            Forward
                                {{/can_be_forwarded}}
                        {{/not_in_git}}
                {{#dependencies}}
                %tr
                    %td.item.item-dependent-name{ :colspan => 2, :style => "padding-left: 50px;" }
                        {{additional_sql}}
                    %td.item.item-view-diff
                        %a{ :href => "/{{database_name}}/{{dependency_schema_name}}/{{dependency_object_index}}/{{dependency_object_name}}/view_diff/", |
                            :style => "text-decoration: none;", :target => "_blank" }
                            %span.solid-link
                                View diff
                    %td.item.item-view-apply
                        {{#dependencies_will_be_applied_automatically}}
                        Will be applied automatically
                        {{/dependencies_will_be_applied_automatically}}
                        {{#dependencies_will_be_applied_automatically_only_by_forwarding}}
                        Forwarding is required for automatical deployment
                        {{/dependencies_will_be_applied_automatically_only_by_forwarding}}
                        {{#dependencies_require_manual_deployment}}
                        Manual deployment required
                        {{/dependencies_require_manual_deployment}}
                {{/dependencies}}

                {{#references}}
                %tr
                    %td.item.item-references-name{ :colspan => 3, :style => "padding-left: 50px;" }
                        %ins
                            {{reference_name}}
                    %td.item.item-view-diff

                {{/references}}

                {{/objects}}

        {{/schemas}}

        {{^schemas}}
        .panel.panel-default
            .panel-heading
                %b
                    Up-to-date
            .panel-body
                Your database is up-to-date with
                %b
                    {{commit_hash}}
        {{/schemas}}
    / end of template



    :javascript

        $(window).ready(function() {

            Git.diff_template = $("#diff-template").html();
            Git.commits_template = $("#commits-template").html();

            Git.database_name = $("#database-name").prop("value");
            Git.checkout('#{sCurrentBranch}', true);

            $("#apply").click(function() {
                Git.apply();
            });

            $("#reload-and-apply").click(function() {
                Git.reloadAndApply(#{bReloadAndApplyIgnoreManual});
            });

            $("#imitate").click(function() {
                Git.imitate();
            });

            $("#reload-current-branch").click(function() {
                Git.checkout(Git.last_hash);
            });

        });

